* {
    margin: "0";
    padding: "0";
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100vh;
}

#back {
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 10, 10);
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 0;
    right: 0; */
    width: 100%;
    height: 100vh;
    background-color: #000;
}

#workingArea{
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
    height: 100vh;
    /* background-color: aqua; */
    border: 1px solid red;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    /* border: 1px solid white; */
}

#nav img{
    height: 60px;
}

#nav_left , #nav_right {
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    /* font-family: ; */
}